---
import Layout from '../../layouts/Layout.astro';
import ContactSection from '../../components/ContactSection.astro';
---

<Layout title="About | Nicolás Van Sint Jan">
  <article class="indent-pars">
    <div class="profile">
      <div class="profile-image">
        <img src="/images/profile.png" alt="Nicolás Van Sint Jan" />
      </div>
      <div class="profile-content">
        <div class="name">Nicolás Van Sint Jan</div>
        <div class="title">
          PhD Candidate @ <a href="https://www.irif.fr" target="_blank">IRIF</a>
        </div>
        <ContactSection lang="en" />
      </div>
    </div>

    <div class="abstract">
      <h2>Abstract</h2>
      <p>
        I'm a PhD candidate in Computer Science at <a
          href="https://www.irif.fr"
          target="_blank">IRIF</a
        > in Paris, under the supervision of <a
          href="http://libk.in/"
          target="_blank">Leonid Libkin</a
        > and <a href="https://www.irif.fr/~cristina/" target="_blank"
          >Cristina Sirangelo</a
        >. My research interests are in the area of database theory, with a
        focus on the semantics of query languages. I have experience in automata
        theory, enumeration algorithms, and full-stack development.
      </p>
    </div>

    <style>
      .profile {
        display: flex;
        gap: 3rem;
        align-items: center;
        margin-bottom: 3rem;
      }

      .profile-image {
        flex-shrink: 0;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid var(--color-border);
      }

      .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .profile-content {
        display: block;
        gap: 0.2rem;
      }

      .name {
        font-size: 1.8rem;
        font-weight: bold;
      }

      .title {
        font-size: 1.4rem;
        color: var(--color-text-muted);
      }

      .institution {
        font-size: 1.2rem;
        color: var(--color-text-muted);
        margin-bottom: 1rem;
      }

      @media (max-width: 768px) {
        .profile {
          flex-direction: column;
          text-align: center;
        }
      }
    </style>
  </article>
</Layout>
